<% variant = line_item.variant -%>
<%= order_form.fields_for :line_items, line_item do |item_form| -%>
  <tr class="<%= cycle('', 'alt') %> line-item">
    <td class="cart-item-image" data-hook="cart_item_image">
      <%= link_to image_tag('icons/delete.png'), '#', class: 'delete', id: "delete_#{dom_id(line_item)}" %>
      <%= link_to(render('spree/shared/image', class:"product_img_cart",
                         image: (variant.gallery.images.first || variant.product.gallery.images.first),
                         size: :small), variant.product)%>
    </td>
    <td class="cart-item-description" data-hook="cart_item_description">
      <p class="p_cart"><%= link_to line_item.name, product_path(variant.product) %> <%= line_item.single_money.to_html %></p>
      <p class="p_cart custom_variants_display"><%= variant.options_text %></p>
      <p class="p_cart">Quantité <%= item_form.number_field :quantity, min: 0, class: "line_item_quantity", size: 5 %></p>

      <% if line_item.insufficient_stock? %>
        <span class="out-of-stock">
          <%= "En rupture de stock" %>
        </span>
      <% end %>
    <!--<span class="line-item-description" data-hook="line_item_description">
         <%= line_item_description_text(line_item.description) %>
      </span>
    </td>
    <td class="cart-item-price" data-hook="cart_item_price">
    </td>
    <td class="cart-item-quantity" data-hook="cart_item_quantity">
    </td>
    <td class="cart-item-total" data-hook="cart_item_total">
    <%= line_item.display_amount.to_html unless line_item.quantity.nil? %>
    </td>
    <td class="cart-item-delete" data-hook="cart_item_delete">
    
    </td>-->
  </tr>
<% end -%>
