<% @body_id = 'cart' %>

<div data-hook="cart_container">

  <h1 class="h1_cart">Votre Panier</h1>

  <% if @order.line_items.empty? %>

    <div data-hook="empty_cart">
      <h1 class="h1_cart">Votre panier est vide</p>
      <p class="p_cart"><%= link_to 'Faire mon shopping !', products_path, class: 'button-secondary', id: "empty_cart" %></p>
    </div>

  <% else %>

    <div data-hook="outside_cart_form">

      <p class="p_cart">Pas terminé ? <%= link_to 'Continuer mon shopping !', products_path, class: 'continue_cart' %></p>

      <%= form_for @order, url: update_cart_path, html: {id: 'update-cart'} do |order_form| %>
        <div id="upper_buttons" class="links columns sixteen alpha omega" data-hook="cart_buttons">
        <%= button_tag 'rafraîchir', class: "button-secondary", id: 'update-button' %>
        <div data-hook="inside_cart_form">

          <div data-hook="cart_items">
            <%= render 'spree/orders/form', order_form: order_form %>
          </div>

        </div>
      <% end %>
      
      <%= form_tag empty_cart_path, id: 'clear_cart_form', method: :put do %>
        <%= submit_tag 'vider le panier', class: 'button-secondary', id: 'clear_cart' %>
        </div>
      <% end %>

      <%= form_for @order, url: update_cart_path, html: {id: 'update-cart'} do |order_form| %>
        <div id="recap" class="links columns sixteen alpha omega" data-hook="cart_buttons">
            <h2 class="h2_cart"><b>Récapitulatif</b></h2>
            <p class="p_cart">Sous-total : <b><%= @order.display_total %></b></p>
            <p class="p_cart">Un code promo ?</p>
            <%= render template: 'spree/coupon_codes/new' %>
            <%= button_tag 'Passer au paiement', class: 'button checkout primary', id: 'checkout-link', name: 'checkout'%>
        </div>
      <% end %>

    </div>
  <% end %>
  
</div>
