<div class="payment_gateway">
  <div id="checkout" data-hook>
    <%= render partial: 'spree/shared/error_messages', locals: { target: @order } %>

    <div class="row headcheckout" data-hook="checkout_header">
      <h1 class="columns three alpha titlecheckout" data-hook="checkout_title">Commandez chez Culture Campus</h1>
      <div class="columns thirteen omega steps" data-hook="checkout_progress">
        <%= checkout_progress %>
      </div>
    </div>

    <div class="row checkout_content" data-hook="checkout_content">

      <div class="checkout_left" data-hook="checkout_form_wrapper">
        <%= form_for @order, url: update_checkout_path(@order.state), html: { id: "checkout_form_#{@order.state}" } do |form| %>
          <% if @order.state == 'address' || !@order.email? %>
            <div class="field field-required" style='clear: both'>
              <%= form.label :email %><br />
              <%= form.email_field :email, required: true %>
            </div>
          <% end %>
          <%= render @order.state, form: form %>
        <% end %>

        <% if @order.state == "payment" %>
          <form id="payment-form" data-secret="<%= $intent.client_secret %>">
            <div id="card-element">
              <!-- Elements will create input elements here -->
            </div>

            <!-- We'll put the error messages in this element -->
            <div id="card-errors" role="alert"></div>
            <button id="card-button">Submit Payment</button>
          </form>
        <% end %>
      </div>


      <% if @order.state != 'confirm' %>
        <div id="checkout-summary" data-hook="checkout_summary_box" class="checkout-summary">
          <%= render partial: 'summary', locals: { order: @order } %>
        </div>
      <% end %>
      
    </div>
  </div>
</div>
<script>
Spree.current_order_id = "<%= @order.number %>"
Spree.current_order_token = "<%= @order.guest_token %>"
</script>
