<%= render partial: 'spree/shared/error_messages', locals: { target: @user } %>

<div id="registration" data-hook class="registration">

  <div id="account" class="account">
    <%= render template: 'spree/user_sessions/new' %>
  </div>

  <div class="or"></div>

  <% if Spree::Config[:allow_guest_checkout] %>
    <div id="guest_checkout" data-hook class="guest_checkout">
      <h6>Continuer comme invité</h6>
      <% if flash[:registration_error] %>
        <div class='flash error'><%= flash[:registration_error] %></div>
      <% end %>
      <%= form_for @order, url: update_checkout_registration_path, method: :put, html: { id: 'checkout_form_registration' } do |f| %>
        <p>
          <%= f.email_field :email, class: 'title', placeholder:"Email" %>
        </p>
        <p><%= f.submit t('spree.continue'), class: 'button button-primary button-login' %></p>
      <% end %>

    </div>
  <% end %>
</div>
