<h1 class="faq-title">FAQ</h1>
<h2 class="faq-subtitle">Trouvez la réponse à chacune de vos questions.</h2>
<div class="questions-container">
    <div class="question">
        <div>
            <h4>Qui sommes-nous ?</h4>
            <img src="<%= image_url('down.svg') %>" class="answer-arrow">
        </div>
        <p class="question-answer none">Culture Campus est un projet lancé par un enseignant et un groupe d’étudiants avec l’approbation de l’université Bordeaux Montaigne.  L’objectif est de créer une ligne de vêtements à l’image de l’Université ainsi que de Culture Campus. Créer votre style, notre fierté.</p>
    </div>
    <hr>
    <div class="question">
        <div>
            <h4>Quelles sont nos valeurs ?</h4>
            <img src="<%= image_url('down.svg') %>" class="answer-arrow">
        </div>
        <p class="question-answer none"></p>
    </div>
    <hr>
    <div class="question">
        <div>
            <h4>Comment suivre le statut de ma commande ?</h4>
            <img src="<%= image_url('down.svg') %>" class="answer-arrow">
        </div>
        <p class="question-answer none">Vous pouvez suivre le statut de votre commande sur la page mon compte.</p>
    </div>
    <hr>
    <div class="question">
        <div>
            <h4>Y a-t-il un service de livraison à domicile ?</h4>
            <img src="<%= image_url('down.svg') %>" class="answer-arrow">
        </div>
        <p class="question-answer none">Nous ne proposons pas de service de livraison pour le moment. Mais c’est un service qui pourrait apparaître prochainement. Nous disposons pour le moment du service Click&Collect.</p>
    </div>
    <hr>
    <div class="question">
        <div>
            <h4>Quand ma commande sera-t-elle disponible ?</h4>
            <img src="<%= image_url('down.svg') %>" class="answer-arrow">
        </div>
        <p class="question-answer none">Après réception du mail de mise à disposition en Click&Collect. Vous pouvez aussi suivre l’état de votre commande sur la page mon compte.</p>
    </div>
    <hr>
    <div class="question">
        <div>
            <h4>Quel est le délai d'une récupération d'une commande en Click&Collect ?</h4>
            <img src="<%= image_url('down.svg') %>" class="answer-arrow">
        </div>
        <p class="question-answer none">Vous disposez d’un délai de 30 jours pour récupérer votre commande.</p>
    </div>
    <hr>
    <div class="question">
        <div>
            <h4>Peut on commander en Click&Collect et faire retirer les achats par une autre personne ?</h4>
            <img src="<%= image_url('down.svg') %>" class="answer-arrow">
        </div>
        <p class="question-answer none">En Click&Collect les achats doivent être retirés uniquement par la personne ayant procédé à la commande, elle doit présenter sa carte d’identité ainsi que le moyen de paiement ayant servi aux achats.</p>
    </div>
    <hr>
    <div class="question">
        <div>
            <h4>Peut on commander sur le site et payer lors du retrait des achats ?</h4>
            <img src="<%= image_url('down.svg') %>" class="answer-arrow">
        </div>
        <p class="question-answer none">Non, cette possibilité n’existe pas pour le moment chez nous.</p>
    </div>
    <hr>
    <div class="question">
        <div>
            <h4>Comment savoir si une taille nous correspond ?</h4>
            <img src="<%= image_url('down.svg') %>" class="answer-arrow">
        </div>
        <p class="question-answer none">Pour choisir une taille qui vous convient, nous vous recommandons de vous référez au size and fit situé dans la description de l’article.</p>
    </div>
    <hr>
    <div class="question">
        <div>
            <h4>Comment annuler ma commande ?</h4>
            <img src="<%= image_url('down.svg') %>" class="answer-arrow">
        </div>
        <p class="question-answer none"></p>
    </div>
    <hr>
    <div class="question">
        <div>
            <h4>Comment retourner ma commande ?</h4>
            <img src="<%= image_url('down.svg') %>" class="answer-arrow">
        </div>
        <p class="question-answer none"></p>
    </div>
</div>