<h1 class="support-title">Support</h1>
<h2 class="support-subtitle">Comment pouvons-nous vous aider ?</h2>
<h3 class="support-warning">Avant d'utiliser ce formulaire, vérifiez que la réponse ne se trouve pas déjà dans la page <a href="/faq">FAQ</a></h3>

<% if(request.post?) %>
    <p>Votre mail a bien été envoyé. Vous recevrez une réponse d'ici les prochaines 48h.</p>
    <% ContactMailer.with(prenom: @prenom, nom: @nom, email: @email, sujet: @sujet, message: @message).support_email.deliver_now %>
<% else %>
<%
    @listeSujets = ['Cas 1', 'Cas 2', 'Cas 3', 'Cas 4', 'Cas 5', 'Cas 6']

    @userEmail = ""
    @userPrenom = ""
    @userNom = ""
    if(spree_current_user)
        @userEmail = spree_current_user.email
        if(!spree_current_user.bill_address_id.nil?)
            @userNom = spree_current_user.bill_address.name
        end
    end
%>
    <%= form_with url: "/contact", class: "support-form", method: :post do |form| %>
        <div>
            <%= form.label :prenom, "Prénom:" %>
            <%= form.text_field :prenom, required: true, value: @userPrenom %>
        </div>
        <div>
            <%= form.label :nom, "Nom:" %>
            <%= form.text_field :nom, required: true, value: @userNom %>
        </div>
        <div>
            <%= form.label :email, "Email:" %>
            <%= form.text_field :email, required: true, value: @userEmail %>
        </div>
        <div>
            <%= form.label :sujet, "Sujet:" %>
            <%= form.select :sujet, @listeSujets.each, required: true %>
        </div>
        <div>
            <%= form.label :message, "Message:" %>
            <%= form.text_area :message, required: true, rows: 4 %>
        </div>
        <%= form.submit "Envoyer", class: "button button-primary button-submit-support" %>
    <% end %>
<% end %>