<%= form_for Spree::User.new, as: :spree_user, url: spree.create_new_session_path do |f| %>
  <div id="password-credentials">
    <p>
      <!--<%= f.label :email, t('spree.email') %><br />-->
      <%= f.email_field :email, class: 'title', tabindex: 1, autofocus: true, placeholder: "Adresse e-mail" %>
    </p>
    <p>
      <!--<%= f.label :password, t('spree.password') %><br />-->
      <%= f.password_field :password, class: 'title', tabindex: 2, placeholder: "Mot de passe" %>
    </p>
  </div>
  <div class="remember">
    <div>
      <%= f.check_box :remember_me, tabindex: 3 %>
      <%= f.label :remember_me, t('Se rappeler de moi') %>
    </div>
    <%= link_to t('spree.forgot_password'), spree.recover_password_path %>
  </div>


  <p>En vous connectant, vous accepter de vous conformer à notre Politique de confidentialité et à nos Conditions générales d'utilisation.</p>

  <%= f.submit t('spree.login'), class: 'button button-primary button-login', tabindex: 4 %>
<% end %>
