<!--<% max_level = Spree::Config[:max_level_in_taxons_menu] || 1 %>
<nav id="taxonomies" class="sidebar-item" data-hook>
  <% @taxonomies.each do |taxonomy| %>
    <% cache [I18n.locale, taxonomy, @taxon, max_level] do %>
      <h6 class='taxonomy-root'><%= t('spree.shop_by_taxonomy', taxonomy: taxonomy.name) %></h6>
      <%= taxons_tree(taxonomy.root, @taxon, max_level) %>
    <% end %>
  <% end %>
</nav>-->

<!-- Add active class to list item to have it open by default ?-->

<div class="details_list">
  <% if !params[:keywords].nil? && !params[:keywords].empty? %>
        <div class="nb_result">
          <h3 class="title_list research">Votre Recherche</h3> 
          <p> <%= t('spree.search_results', keywords: h(params[:keywords])) %> </p>
        </div>
  <% end %>
  <h3 class="title_list">Filtre</h3>
  <details>
    <summary class="list">
      <div class="title_summary">
        Taille 
        <img src="<%= image_url('up.svg') %>" class="imgRotateInvers">
      </div>
    </summary>
    <div class="flex_li">
      <input class="check check_color" type="checkbox"/>
      <p>XS</p>
    </div>  
    <div class="flex_li">
      <input class="check check_color" type="checkbox"/>
      <p>S</p>
    </div>  
    <div class="flex_li">
      <input class="check check_color" type="checkbox"/>
      <p>M</p>
    </div>  
    <div class="flex_li">
      <input class="check check_color" type="checkbox"/>
      <p>L</p>
    </div>
    </details>
     <details>
    <summary class="list">
      <div class="title_summary">
        Couleur 
        <img src="<%= image_url('up.svg') %>" class="imgRotateInvers">
      </div>
    </summary>
    <div class="colors_list">
      <input type="radio" name="null" value="" class="radio radio_color">
      <input type="radio" name="null" value="" class="radio radio_color">
      <input type="radio" name="null" value="" class="radio radio_color">
    </div>
  </details>
   <details>
    <summary class="list">
      <div class="title_summary">
        Qualité Produit
        <img src="<%= image_url('up.svg') %>" class="imgRotateInvers">
      </div>
    </summary>
    <div class="flex_li">
      <input class="check check_color" type="checkbox"/>
      <p>Basique</p>
    </div>
    <div class="flex_li">
      <input class="check check_color" type="checkbox"/>
      <p>Bio et Vegan</p>
    </div>
  </details>
    <details>
    <summary class="list">
      <div class="title_summary">
        Trier par 
        <img src="<%= image_url('up.svg') %>" class="imgRotateInvers">
      </div>
    </summary>
    <div class="flex_li">
      <input class="check check_color" type="checkbox"/>
      <p>Nouveautés</p>
    </div>
    <div class="flex_li">
      <input class="check check_color" type="checkbox"/>
      <p>Prix décroissant</p>
    </div>
    <div class="flex_li">
      <input class="check check_color" type="checkbox"/>
      <p>Prix Croissant</p>
    </div>
  </details>
</div>
