<h1>Nous contacter</h1>

<% if(request.post?) %>
    <p>Merci, connard.</p>
    <p>Votre nom: <%= @prenom + ' ' + @nom %></p>
    <% ContactMailer.with(prenom: @prenom, nom: @nom, email: @email, message: @message).contact_email.deliver_now %>
<% else %>
    <%= form_with url: "/contact", method: :post do |form| %>
        <%= form.label :prenom, "Prénom:" %>
        <%= form.text_field :prenom, required: true %>

        <%= form.label :nom, "Nom:" %>
        <%= form.text_field :nom, required: true %>

        <%= form.label :email, "Email:" %>
        <%= form.text_field :email, required: true %>

        <%= form.label :message, "Message:" %>
        <%= form.text_field :message, required: true %>

        <%= form.submit "Envoyer" %>
    <% end %>
<% end %>